header h2{
    border-bottom: 2px solid red;
    color: green;
}

header h2 span{
    border: 2px dashed green;
}

form th{
    height: 60px;
    text-align: left;
    font-style: italic;
    font-weight: bold;
    padding-right:20px;
    padding-bottom: 10px;
}

form input{
    height: 25px;
    border: 2px solid chocolate;
    background-color:aquamarine;
    width: 180px;
}

form tfoot th{
    text-align: center;
    border-top: 1px solid;
}

button{
    background-color: green;
    border: 2px solid black;
    border-top: 2px solid green;
    color: white;
    padding: 10px;
    padding-inline: 20%;
}

main{
    background-color:aqua;
}