/* Dấu ngã ở đây ám chỉ là lấy các phần tử ở sau thẻ p */
/* p ~ ul{
    background-color: aqua;
} */
/*
select1 ~ (or + ) select2 => bên select1 phải nằm trước select2
-select1 phải ngang hàng với select2
-select1 phải cùng cha với select2
-select2 phải nằm sau nhưng không liên tiếp (có thể có sự chen ngang của các thành phần khác)
*/

div.content .block ~ .element p ~ span{
    color: red;
}

/* Dấu cộng ở đây ám chỉ lấy các phần tử ở sau thẻ p 
và các phần tử đó phải liền kề nhau */
ul ~ ul li + li{
    background-color:brown;
}

.menu ul {
    list-style: none;
    background-color: green;
    padding: 5px 15px;
}
.menu ul li{
    display: inline-block;
    color: aliceblue;
    padding: 0 10px;   
}
.menu ul li + li{
    border-left: 1px solid #fff;
}


/* Dấu * giống trong SQL -> tác dụng lên tất cả các thành phần */
*{
    color: chocolate;
}

.content > * li {
    color: bisque;
}
/*Trường hợp 1: select[attribute]*/
.list-website a[target]{
    color:red;
}
/*Trường hợp 2: select[attribute=value]*/

.form input[type = "text"]{
    border: 1px solid green;
    background-color: blanchedalmond ;
}